.widget{
    background-color: #fff;
    border-radius: 5px;
    padding:1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 3px 3px 11px -5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 3px 3px 11px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 3px 11px -5px rgba(0,0,0,0.1);
    h2{
        margin:0;
    }
}
.wp-block-search__input{
    font-size: 17px;
    padding:0 15px;
    border-radius: 4px;
}
.wp-block-search__label{
    width: initial !important;
}
.wp-block-search__button{
    border:none !important;
    background-color: #000 !important;
    border-radius: 3px;
}
.wp-block-search__button svg{
    width: 36px;
    height: 36px;
    fill: #fff;
}
// widget recent comments
.wp-block-latest-comments{
    padding:0;
}